<div class="card">
  <div class="card-body">
    <div class="col-sm-12">
      <div class="card-title" translate="{{user.userTitle}}"></div>
      <form (submit)="onSubmit()" method="post" [formGroup]="form">
        <div class="input-container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label translate="description"></label>
                  <input
                    type="text"
                    id="description"
                    name="description"
                    class="form-control"
                    formControlName="description"
                  />
                  <div
                    class="required-text"
                    *ngIf="
                      submitted &&
                      f!['description'].errors &&
                      f!['description'].errors['required']
                    "
                    translate="this_field_required"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-6">
            <button
              type="submit"
              class="btn btn-primary mr-2"
              translate="send"
            ></button>
            <button
              type="button"
              (click)="close()"
              class="btn btn-default mr-2"
              translate="close"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
