<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <form (submit)="onSubmit()" [formGroup]="form" *ngIf="!isSuccessChangePassword">
              <h3 class="mb-5" translate="change_your_password"></h3>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2" translate="old_passowrd"></label>
                <input type="password" formControlName="oldPassword" id="oldPassword" id="typeEmailX-2" class="form-control form-control-lg" />
                <div class="invalid-feedback" *ngIf="submitted && f['oldPassword'].errors && f['oldPassword'].errors['required']"
                     translate="this_field_required"></div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2" translate="new_password"></label>
                <input type="password" formControlName="newPassword" id="newPassword" id="typePasswordX-2" class="form-control form-control-lg" />
                <div class="invalid-feedback" *ngIf="submitted && f['newPassword'].errors && f['newPassword'].errors['required']"
                translate="this_field_required"></div>

              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit" translate="send"></button>
            </form>
            <p *ngIf="isSuccessChangePassword" translate="password_successfully_changed"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
